---

---

<!DOCTYPE html>
<html>
<head>
	<title>Mark 50: Home</title>
	{% include head.html %} 

</head>
<body>

<div class="content-wrap">
	
	{% include header.html %} 
				
	<div class="header-wrap">
		<div class="container">
			<div class="row">
				<div class="proc-flex-wrap">
					<div class="proc-flex">
						
						<div id="main-heading-rotator">
							<div>
								<h2>Relentlessly improving process</h2>
								<p>Get lean, cut waste, build efficiency</p>
								<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
							</div>
							<div>
								<h2>Relentlessly improving quality</h2>
								<p>Know what we deliver and do it well</p>
								<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
							</div>
							<div>
								<h2>Relentlessly improving technology</h2>
								<p>Getting on the bleeding edge where appropriate and taking risks when appropriate</p>
								<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
							</div>
						</div>

					</div><!-- proc-flex -->
				</div><!-- prof-flex-wrap -->
			</div> <!-- row -->
		</div><!-- container -->
	</div> <!-- header-wrap -->


	<iframe width="560" height="315" src="https://www.youtube.com/embed/0hdH7iDxymU?&autoplay=1&loop=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

	<div class="vid-overlay"></div>

	<div class="vid-title">
		<h1 class="text-center">Cloud. Data Lake. <span style="color:#73C1D9;">Buzz Word!</span></h1>
	</div>


	<section class="mission-wrap">
		<div class="container">
			<div class="row">
				<div class="mission">Relentlessly improve Quality. Process. Technology.</div>
			</div>
		</div>
	</section>

	<section class="help-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Mark 50 Getting on the Bleeding Edge of Quality, Process, Technology through relentless continuous improvement</h2>
					<p>We provide industry-leading solutions to integrate IT systems using open, extensible technologies.</p>

					<picture>
						 <source srcset="images/Infinity_War_Model_Prime_Mark50.png" media="(max-width: 600px)">
						 <img src ="images/Infinity_War_Model_Prime_Mark50.png" alt="How We Help" title="How We Help">
					</picture>

					<div class="mobile-how-we-help">
						<div class="feature-item">
							<div class="icon-secure"></div>
							Security &amp; Durability  <br/> Able to withstand various threats, over time proven through testing
						</div>

						<div class="decorative-line"></div>

						<div class="feature-item">
							<div class="icon-interoperability"></div>
							Durablity - able to withstand time, proven through testing
						</div>

						<div class="decorative-line"></div>

						<div class="feature-item">
							<div class="icon-visualization"></div>
							Usability - custom-made to be simple for the user
						</div>

						<div class="decorative-line"></div>

						<div class="feature-item">
							<div class="icon-federated"></div>
							Deformable &amp; Modular <br/> Able to disintegrate, re-shape as desired
						</div>

						<div class="decorative-line"></div>

						<div class="feature-item">
							<div class="icon-modular"></div>
							Extreme Portability <br/> Can install & deploy from mobile to the cloud
						</div>

						<div class="decorative-line"></div>

						<div class="feature-item">
							<div class="icon-enterprise"></div>
							Agility <br/> Having the right people to adapt and be responsive to change
						</div>
					</div><!-- mobile-how-we-help -->
				</div><!-- col-md-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section>

	<section class="support-wrap">
		<div class="container"> 
			<div class="row">
				<div class="col-sm-12">
					<h2>Featured Communities We Support</h2>

					<div class="support-row">
						<div class="support-cell">
							<img class="support-logo" src="images/logo-dmo.png" alt="DMO" title="DMO">

							<div class="support-description">
								<h4>Cadix</h4>
								<p>DCGS Integration Backbone</p>
							</div>
						</div>

						<div class="support-cell">
							<img class="support-logo" src="images/logo-nga.png" alt="NGA" title="NGA">

							<div class="support-description">
								<h4>Intrigue</h4>
								<p>Geospatial Discovery</p>
							</div>
						</div>

						<div class="support-cell">
							<img class="support-logo" src="images/logo-afdcgs.png" alt="AF DCGS" title="AF DCGS">

							<div class="support-description">
								<h4>Battle Space</h4>
								<p>Btl Space</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	{% include footer.html %} 

</div>

</body>

</html>